{
  "bootstrap_expect": {{ groups['monitoring-servers'] | length }},
  "data_dir": "/var/lib/consul/data",
  "server": true,
  "ui": true,
  "client_addr": "0.0.0.0",
  "bind_addr": "{{ hostvars[inventory_hostname]['ansible_host'] }}",
  "start_join": [ 
    {% for server in groups['monitoring-servers'] %}"{{ hostvars[server]['ansible_host'] }}"{% if not loop.last %}, {% endif %}{% endfor %}
  ]
}
