vrrp_instance K8S_NODE_NETWORK_NAT {
    state BACKUP
    nopreempt
    interface eth0
    virtual_router_id 1
    priority 100
    advert_int 1

    virtual_ipaddress {
        {{ MonitoringServer.Keepalibed.VirtualLocalIPAddress }}
    }
}
