groups:
  - name: targat_down
    rules:
      - alert: TargetDown
        expr: up == 0
        for: 180s
        labels:
          severity: warning
        annotations:
          summary: "TargetDown"
          description: {% raw %}"{{ $labels.job }} is down on {{ $labels.instance }}"{% endraw %}
